<!doctype html>
<html lang="en" ng-app="RDash">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>IIB DASHBOARD</title>
  <!-- STYLES -->
  <link rel="stylesheet" href="lib/css/main.min.css"/>
   <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/bttn.css/0.2.4/bttn.css">
  
  <!-- SCRIPTS -->
  <script src="lib/js/main.min.js"></script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
  <style>
      .selected {
          background-color:rgb(130, 90, 221);
          color:rgb(255, 255, 255);
          font-weight:bold;
      }
      </style>
  
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            IIB Dashboard
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title">
        <span style="color: white">List of Queue Managers</span></li>
        <div ng-repeat="broker in brokerlist">
          <!--<div ng-repeat="(key2,value) in dataSet">-->
            <li class="sidebar-list" >
              <a ng-click="openMainRow(broker.id)">
                <!--<button  class="sidebar-list" style="color: black" ng-click="openMainRow(broker.id)" >{{broker.brokerName}}</button>-->
                <button  class="btn btn-md btn-info ng-scope" style="color: black"  >{{broker.brokerName}}</button>  
                <span class="menu-icon fa fa-tachometer"></span><br />
                <!--<span class="menu-icon fa fa-table"></span>-->
              </a>
            </li>
          <!--<div>-->
        </div>
        <li class="sidebar-list">
          <a href="#" ng-click="openUsefulLinks()">Some Useful Links <span class="menu-icon fa fa-table"></span></a>
        </li>
      </ul>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
		 
        <div class="row header">
          <div class="col-xs-12">
            <div class="user pull-right">

            </div>
            <div class="meta">
              <div class="page">
                Dashboard
              </div>
              <div class="breadcrumb-links">
                Home / Dashboard
              </div>
            </div>
          </div>
        </div>
		
        <!-- End Header Bar -->

        <!-- Main Content -->
       <!-- <div ui-view></div>-->
   
       <!-- Main Option Row Starts-->
        <div class="row" style="height: 46px;" ng-if="brokerOptions==true" id="mainOptionRow">
          
          <div>
            <div class="col-lg-3 col-md-6 col-xs-12" style="width: 180px;"> 
              <button class="bttn-pill bttn-md bttn-success"  ng-click="openQueue()">Queues</button>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12" style="width: 180px;"> 
              <button class="bttn-pill bttn-md bttn-success"  ng-click="openChannel()">Channels</button>
            </div>
            <div class="col-lg-3 col-md-6 col-xs-12" style="width: 180px;"> 
              <button class="bttn-pill bttn-md bttn-success"  ng-click="openTroubleShoot()">Troubleshooting</button>
            </div>   
          </div>
        </div>
        <!-- Main Option Row Ends-->
        <div class="row" ng-if="openLinks">
            <div class="col-lg-6">
              <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Useful links">
                  
                </rd-widget-header>
                <rd-widget-body classes="medium no-padding">
                  <div class="table-responsive">
                    <ul>
                      <li ng-repeat="lnk in usefulLinks">
                        <a ng-href="{{lnk.actualLink}}" target="_blank">{{lnk.linkName}}</a>

                      </li>
                    </ul>
          
                  </div>      
                </rd-widget-body>
              </rd-widget>
             </div>
           </div>

        <!-- Queue Status Block -->
        <div class="row" ng-if="valueReveal" id="queueStatusBlock">
          <div class="col-lg-5 row-lg-12" ng-if="openQM">
            <rd-widget>
                <div class="widget">
                  <rd-widget-header icon="fa-tasks" title="Queue List" class="ng-scope ng-isolate-scope">
                      <select ng-model="selected" ng-options="t.queueType for t in typeOfQueues"  ng-change="callQueueSubtype(selected.queueType)">
                          <option value="">Select Queue Type</option>
                      </select>
                  </rd-widget-header>
                  <rd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope" ng-if="showQueueDropDwn">
                    <div class="widget-body medium no-padding" ng-class="classes">
                      <rd-loading ng-show="loading" class="ng-hide">
                        <div class="loading">
                          <div class="double-bounce1"></div>
                          <div class="double-bounce2"></div>
                        </div>
                      </rd-loading>
                    <div ng-hide="loading" class="widget-content">
                      <div class="table-responsive ng-scope">
                        <table class="table">
                          <tr>
                            <td><p><input type="text" ></p></td>
                          </tr>
                          <tbody>
                            <tr ng-repeat="q in propertyValue" ng-class="{'selected':$index == selectedRow}"ng-click="queueDesc($index)">
                              <td >{{q}}</td>
                            </tr>	
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </rd-widget-body>
              </div>
            </rd-widget>
          </div>
          <div class="col-lg-7" ng-if="propertiesShown">
              <rd-widget>
                  <div class="widget">
                    <rd-widget-header icon="fa-tasks" title="Properties" class="ng-scope ng-isolate-scope"></rd-widget-header>
                    <rd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope">
                      <div class="widget-body medium no-padding" ng-class="classes">
                        <rd-loading ng-show="loading" class="ng-hide">
                          <div class="loading">
                            <div class="double-bounce1"></div>
                            <div class="double-bounce2"></div>
                          </div>
                        </rd-loading>
                      <div ng-hide="loading" class="widget-content">
                        <div class="table-responsive ng-scope">
                          <table class="table">
                            <!--<tbody ng-repeat="(key, dataSet) in queueDetails">-->
                                <!-- <tr>
                                    <td>Inhibition</td>
                                    <td>True</td>
                                    <td><button class="bttn-gradient bttn-md bttn-primary">Allow</button></td>
                                    <td><button ng-click="openModal('custom-modal-1')">Open Modal 1</button></td>
                                  </tr> -->
                            <tbody>
                              <tr ng-repeat="(key2,value) in queueDetails">
                                <td>{{key2 | keyFilter}}</td>
                                <td>{{value}}</td>
                                <!--<td><span class="text-success"><i class="fa fa-check"></i></span></td>-->
                              </tr>	
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </rd-widget-body>
                </div>
              </rd-widget>
            </div>
        </div>
        <!-- Queue Status Block End-->

        <!-- Channel Status Block -->
        <div class="row" ng-if="valueReveal" id="channelStatusBlock">

            <div class="col-lg-6" ng-if="openChn">
                <rd-widget>
                    <div class="widget">
                      <rd-widget-header icon="fa-tasks" title="Channel Stats" class="ng-scope ng-isolate-scope"></rd-widget-header>
                      <rd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope">
                        <div class="widget-body medium no-padding" ng-class="classes">
                          <rd-loading ng-show="loading" class="ng-hide">
                            <div class="loading">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                          </rd-loading>
                        <div ng-hide="loading" class="widget-content">
                          <div class="table-responsive ng-scope">
                            <table class="table">
                              <!--<tbody ng-repeat="(key, dataSet) in channelStats">-->
                              <tbody>
                                  <!-- <tr>
                                      <td>Inhibition</td>
                                      <td>True</td>
                                      <td><button class="bttn-gradient bttn-md bttn-primary">Allow</button></td>
                                      <td><button ng-click="openModal('custom-modal-1')">Open Modal 1</button></td>
                                    </tr> -->
                                <tr ng-repeat="(key2,value) in channelStats">
                                  <td>{{key2}}</td>
                                  <td>{{value}}</td>
                                  <!-- <td><span class="text-success"><i class="fa fa-check"></i></span></td> -->
                                </tr>	
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </rd-widget-body>
                  </div>
                </rd-widget>
              </div>
        </div>
        <!-- Channel Status Block End-->

        <!-- TroubleShoot Block -->
        <div class="row" ng-if="valueReveal && openTroub" id="troubleShootBlock">

            <div class="col-lg-8" >
                <rd-widget>
                    <div class="widget">
                      <rd-widget-header icon="fa-tasks" title="Problematic Queues" class="ng-scope ng-isolate-scope"></rd-widget-header>
                      <rd-widget-body classes="medium no-padding" class="ng-scope ng-isolate-scope" style="height:auto">
                        <div class="widget-body medium no-padding" ng-class="classes">
                          <rd-loading ng-show="loading" class="ng-hide">
                            <div class="loading">
                              <div class="double-bounce1"></div>
                              <div class="double-bounce2"></div>
                            </div>
                          </rd-loading>
                        <div ng-hide="loading" class="widget-content">
                          <div class="table-responsive ng-scope">
                            <!--<h4 ng-if="pFlag && openTroub">Please report to IIB Support team</h4><br />-->
                            <table class="table">
                              <tbody>
                              <!--<tbody  ng-repeat="(key, dataSet) in problemQueues>-->
                                  <!-- <tr>
                                      <td>Inhibition</td>
                                      <td>True</td>
                                      <td><button class="bttn-gradient bttn-md bttn-primary">Allow</button></td>
                                      <td><button ng-click="openModal('custom-modal-1')">Open Modal 1</button></td>
                                    </tr> -->
                                    <tr>
                                      <th>Queues for which Outgoing flow is Stopped (Get Inhibited)</th>
                                    </tr>
                                    <tr ng-repeat="qname in problemQueues track by $index">
                                      <td>{{qname}}</td>
                                      <td ng-if="getInhibitflag"><button class="bttn-gradient bttn-md bttn-primary" ng-click="allowQueueGet(qname)">Allow</button></td>
                                      <!-- <td ng-show="test1!=null">{{value1}}</td> -->
                                    </tr>	
                                    <tr>
                                      <th>Queues for which Incoming flow is Stopped (Put Inhibited)</th>
                                    </tr>
                                    <tr ng-repeat="qname in problemPutQueues track by $index">
                                      <td>{{qname}}</td>
                                      <td ng-if="putInhibitflag"><button class="bttn-gradient bttn-md bttn-primary" ng-click="allowQueuePut(qname)">Allow</button></td>
                                      <!-- <td ng-show="test1!=null">{{value1}}</td> -->
                                    </tr>	
                                    <tr>
                                        <th>Channels in Stopped State</th>
                                      </tr>
                                      <tr ng-repeat="chnl in channelsStopped track by $index">
                                        <td>{{chnl}}</td>
                                        <td ng-if="chnlStopped"><button class="bttn-gradient bttn-md bttn-primary" ng-click="restartChannel(chnl)">Start</button></td>
                                        <!-- <td ng-show="test1!=null">{{value1}}</td> -->
                                      </tr>	
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </rd-widget-body>
                  </div>
                </rd-widget>
              </div>
        </div>
        <!-- TroubleShoot Block -->

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->
</body>
</html>
